openapi: 3.1.0
info:
  title: Bhejna API
  description: |
    Bhejna is a high-performance WhatsApp messaging proxy and delivery engine. 
    It provides a contract-first API for sending messages, tracking delivery status, and receiving inbound messages via webhooks.
  version: 1.0.0
  contact:
    name: CodeNxt Lab
    url: https://codenxtlab.tech

servers:
  - url: https://bhejna-api.codenxtlab.tech
    description: Production Server

tags:
  - name: Messages
    description: WhatsApp message delivery operations
  - name: Internal
    description: System administration and sync operations
  - name: Webhooks
    description: Inbound delivery status and message updates

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    InternalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    MessageType:
      type: string
      enum: [text, template, image, document, audio, video, sticker, location, contacts, interactive]
      description: Allowed WhatsApp message types

    SendMessageRequest:
      type: object
      required:
        - to
        - from_business_phone
        - idempotency_key
        - type
      properties:
        to:
          type: string
        from_business_phone:
          type: string
        idempotency_key:
          type: string
        type:
          type: string
          enum: [text, template]
        text:
          type: object
          required:
            - body
          properties:
            body:
              type: string
        template:
          type: object
          required:
            - template_code
            - language
          properties:
            template_code:
              type: string
            language:
              type: string
            components:
              type: array
              items:
                type: object
                required:
                  - type
                properties:
                  type:
                    type: string
                    enum: [header, body, button]
                  parameters:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum: [text, currency, date_time, image, document, video]
                        text:
                          type: string
                        image:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string
                        document:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string
                        video:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string

    SendMessageResponse:
      type: object
      required:
        - job_id
        - status
      properties:
        job_id:
          type: string
          example: "01KSTKRFDJ721R8XRE1HAXJT2Y"
        status:
          type: string
          example: "queued"

    Tenant:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        waba_id:
          type: string
        phone_number_id:
          type: string
        api_key:
          type: string
        whatsapp_status:
          type: string
          enum: [UNCONNECTED, PENDING_ONBOARDING, ACTIVE, ACTION_REQUIRED]
          default: UNCONNECTED
        messaging_limit:
          type: integer
        quality_rating:
          type: string
        is_paused:
          type: boolean
        webhook_url:
          type: string
        webhook_secret:
          type: string
        created_at:
          type: string
          format: date-time

    SuccessResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        request_id:
          type: string
          example: "req_123"

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "INVALID_PHONE"
            message:
              type: string
              example: "Recipient phone number invalid"
            retryable:
              type: boolean
              example: false
        request_id:
          type: string
          example: "req_123"

    WebhookPayload:
      type: object
      required:
        - bhejna_event_id
        - event_type
        - channel
        - received_at
      properties:
        bhejna_event_id:
          type: string
          format: uuid
        event_type:
          type: string
          description: "Type of webhook event. Examples: message.received, message.status_updated, template.status_update, template.quality_update, template.category_update"
        channel:
          type: string
        received_at:
          type: string
          format: date-time
        business_phone_number:
          type: string
        sender:
          type: object
          required:
            - whatsapp_identifier
            - bsuid
            - is_phone_masked
            - display_name
          properties:
            whatsapp_identifier:
              type: string
            bsuid:
              type: string
            phone_number:
              type: string
              nullable: true
            is_phone_masked:
              type: boolean
            display_name:
              type: string
        message:
          type: object
          required:
            - meta_message_id
            - type
            - body
          properties:
            meta_message_id:
              type: string
            type:
              type: string
            body:
              type: string
            button_payload:
              type: string
              nullable: true
            reply_to_meta_message_id:
              type: string
              nullable: true
        status_update:
          type: object
          required:
            - meta_message_id
            - status
            - recipient_bsuid
          properties:
            meta_message_id:
              type: string
            status:
              type: string
              enum: [sent, delivered, read, failed]
            recipient_bsuid:
              type: string
            conversation_id:
              type: string
              nullable: true
            pricing_category:
              type: string
              nullable: true
        template_update:
          type: object
          required:
            - message_template_id
            - message_template_name
            - language
            - status
            - category
          properties:
            message_template_id:
              type: string
            message_template_name:
              type: string
            language:
              type: string
            status:
              $ref: '#/components/schemas/TemplateStatus'
            category:
              $ref: '#/components/schemas/TemplateCategory'
            quality_rating:
              type: string
              nullable: true
            rejection_reason:
              type: string
              nullable: true

    TemplateCategory:
      type: string
      enum: [MARKETING, UTILITY, AUTHENTICATION]

    TemplateStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, PAUSED, DISABLED, IN_APPEAL, LIMIT_EXCEEDED, PENDING_DELETION, DELETED]
      description: "Lifecycle state owned by Meta. Bhejna reflects it and never authors it. New templates are PENDING until Meta review completes (minutes, up to 24h)."

    TemplateButton:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum: [QUICK_REPLY, URL, PHONE_NUMBER]
        text:
          type: string
        url:
          type: string
          description: "Required when type is URL"
        phone_number:
          type: string
          description: "Required when type is PHONE_NUMBER"

    TemplateComponent:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [HEADER, BODY, FOOTER, BUTTONS]
        format:
          type: string
          enum: [TEXT]
          description: "v1 TEXT-only, media via Resumable Upload is planned"
        text:
          type: string
        example:
          type: object
          description: "Meta-required sample values for variables, e.g. {\"body_text\":[[\"Jessica\",\"ORD-123\"]]}"
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/TemplateButton'

    CreateTemplateRequest:
      type: object
      required:
        - name
        - language
        - category
        - components
      properties:
        name:
          type: string
          pattern: '^[a-z0-9_]+$'
        language:
          type: string
        category:
          $ref: '#/components/schemas/TemplateCategory'
        allow_category_change:
          type: boolean
          default: true
          description: "let Meta auto-correct category instead of rejecting on mismatch"
        components:
          type: array
          items:
            $ref: '#/components/schemas/TemplateComponent'

    MessageTemplate:
      type: object
      required:
        - id
        - name
        - language
        - category
        - status
        - components
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: "Meta template ID, authoritative"
        name:
          type: string
        language:
          type: string
        category:
          $ref: '#/components/schemas/TemplateCategory'
        status:
          $ref: '#/components/schemas/TemplateStatus'
        quality_rating:
          type: string
          enum: [GREEN, YELLOW, RED, UNKNOWN]
          nullable: true
          description: "Meta-reconciled, null until usage feedback"
        rejection_reason:
          type: string
          nullable: true
          description: "set on REJECTED"
        components:
          type: array
          items:
            $ref: '#/components/schemas/TemplateComponent'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TemplateListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageTemplate'
        paging:
          type: object
          properties:
            cursor:
              type: string
              nullable: true

paths:
  /v1/templates:
    post:
      operationId: createTemplate
      tags:
        - Templates
      summary: Create a message template
      description: Submits a template request to Meta.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
        '400':
          description: Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Template name conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      operationId: listTemplates
      tags:
        - Templates
      summary: List message templates
      description: Returns a list of message templates matching the filter.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/TemplateStatus'
          required: false
      responses:
        '200':
          description: Successfully retrieved template list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/templates/{id}:
    get:
      operationId: getTemplate
      tags:
        - Templates
      summary: Get a template by Meta ID
      description: Returns a single message template from the local mirror.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/templates/{name}:
    delete:
      operationId: deleteTemplate
      tags:
        - Templates
      summary: Delete a template by name
      description: Deletes a message template from Meta and local mirror.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        '204':
          description: Template deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Template not found on Meta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/meta/webhook:
    get:
      operationId: GetV1MetaWebhook
      tags:
        - Webhooks
      summary: Meta Webhook Verification
      parameters:
        - in: query
          name: hub.mode
          required: true
          schema:
            type: string
        - in: query
          name: hub.challenge
          required: true
          schema:
            type: string
        - in: query
          name: hub.verify_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Forbidden
    post:
      operationId: PostV1MetaWebhook
      tags:
        - Webhooks
      summary: Meta Webhook Payload Receiver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
      responses:
        '200':
          description: OK

  /v1/internal/webhook-schema:
    post:
      operationId: forceGenerateWebhookType
      description: "Internal shadow endpoint to force generation of WebhookPayload type."
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPayload'

  /v1/messages:
    post:
      operationId: sendMessage
      tags:
        - Messages
      summary: Send a WhatsApp message
      description: Enqueues a message for delivery via WhatsApp.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
          required: false
          description: "Unique key to prevent duplicate message processing"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted and enqueued for asynchronous transmission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: |
            Invalid request. For `type=template` sends, additional error codes may be returned:
            - `TEMPLATE_NOT_FOUND`: no template with this name/language exists in the mirror for this account — create it via `POST /v1/templates` and wait for approval.
            - `TEMPLATE_NOT_APPROVED`: template exists but is not in APPROVED status (e.g. PENDING, REJECTED, PAUSED).
            - `TEMPLATE_PARAM_MISMATCH`: body parameter count in the request does not match the template's stored body component.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: Quota exceeded

  /v1/internal/tenant:
    post:
      operationId: syncTenant
      tags:
        - Internal
      summary: Sync or provision a tenant
      description: Internal endpoint to provision or update tenant configuration.
      security:
        - InternalAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Tenant'
                - type: object
                  required:
                    - record
                  properties:
                    record:
                      $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Tenant synced successfully

  /v1/internal/tenants/{id}/pause:
    put:
      operationId: pauseTenant
      tags:
        - Internal
      summary: Pause a tenant
      description: Manually pause message delivery for a tenant.
      security:
        - InternalAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Tenant paused successfully

