openapi: 3.1.0
info:
  title: Bhejna API
  description: |
    Bhejna is a high-performance WhatsApp messaging proxy and delivery engine. 
    It provides a contract-first API for sending messages, tracking delivery status, and receiving inbound messages via webhooks.
  version: 1.0.0
  contact:
    name: CodeNxt Lab
    url: https://codenxtlab.tech

servers:
  - url: https://bhejna-api.codenxtlab.tech
    description: Production Server

tags:
  - name: Messages
    description: WhatsApp message delivery operations
  - name: Internal
    description: System administration and sync operations
  - name: Webhooks
    description: Inbound delivery status and message updates

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    InternalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    MessageType:
      type: string
      enum: [text, template, image, document, audio, video, sticker, location, contacts, interactive]
      description: Allowed WhatsApp message types

    SendMessageRequest:
      type: object
      required:
        - to
        - from_business_phone
        - idempotency_key
        - type
      properties:
        to:
          type: string
        from_business_phone:
          type: string
        idempotency_key:
          type: string
        type:
          type: string
          enum: [text, template, image, document, audio, video, sticker, interactive, location, contacts, reaction]
        text:
          type: object
          required:
            - body
          properties:
            body:
              type: string
        image:
          $ref: '#/components/schemas/MediaObject'
        document:
          $ref: '#/components/schemas/MediaObject'
        audio:
          $ref: '#/components/schemas/MediaObject'
        video:
          $ref: '#/components/schemas/MediaObject'
        sticker:
          $ref: '#/components/schemas/MediaObject'
        interactive:
          $ref: '#/components/schemas/InteractiveMessageObject'
        location:
          type: object
          description: "Per Meta's LocationMessage: latitude/longitude are strings"
          required:
            - latitude
            - longitude
          properties:
            latitude:
              type: string
            longitude:
              type: string
            name:
              type: string
            address:
              type: string
        contacts:
          type: array
          description: "1-5 Meta ContactObject entries (name/phones/emails/addresses/org/urls), passed through verbatim"
          items:
            type: object
            properties:
              name:
                type: object
              phones:
                type: array
                items:
                  type: object
              emails:
                type: array
                items:
                  type: object
              addresses:
                type: array
                items:
                  type: object
              org:
                type: object
              urls:
                type: array
                items:
                  type: object
              birthday:
                type: string
        reaction:
          type: object
          description: "React to a previously received/sent message"
          required:
            - message_id
            - emoji
          properties:
            message_id:
              type: string
              description: "wamid of the message being reacted to"
            emoji:
              type: string
              description: "Emoji to apply; empty string removes the reaction"
        template:
          type: object
          required:
            - template_code
            - language
          properties:
            template_code:
              type: string
            language:
              type: string
            components:
              type: array
              items:
                type: object
                required:
                  - type
                properties:
                  type:
                    type: string
                    enum: [header, body, button]
                  sub_type:
                    type: string
                    enum: [url, quick_reply]
                    description: "Required when type=button: which button kind the parameters apply to"
                  index:
                    description: "Required when type=button: 0-based position of the button in the template. Meta accepts a string (\"0\") or an integer (0); both forms are accepted and passed through verbatim."
                  parameters:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum: [text, payload, currency, date_time, image, document, video]
                        text:
                          type: string
                        payload:
                          type: string
                          description: "For quick_reply button parameters"
                        image:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string
                        document:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string
                        video:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string

    MediaObject:
      type: object
      description: "Media payload: either a previously uploaded media id (POST /v1/media) or a public HTTPS link. Exactly one of id/link is required."
      properties:
        id:
          type: string
          description: "Meta media id from POST /v1/media"
        link:
          type: string
          description: "Public HTTPS URL of the media asset"
        caption:
          type: string
          description: "Optional caption (image, video, document only)"
        filename:
          type: string
          description: "Optional display filename (document only)"

    InteractiveMessageObject:
      type: object
      description: "Interactive message per Meta's InteractiveObject. Scope: reply buttons and lists (catalog/product/flow variants deliberately unsupported)."
      required:
        - type
        - action
      properties:
        type:
          type: string
          enum: [button, list]
        header:
          type: object
          description: "Optional header: {type: text|image|video|document, text?, image?, video?, document?}"
          properties:
            type:
              type: string
              enum: [text, image, video, document]
            text:
              type: string
              maxLength: 60
            image:
              $ref: '#/components/schemas/MediaObject'
            video:
              $ref: '#/components/schemas/MediaObject'
            document:
              $ref: '#/components/schemas/MediaObject'
        body:
          type: object
          required:
            - text
          properties:
            text:
              type: string
              maxLength: 1024
        footer:
          type: object
          required:
            - text
          properties:
            text:
              type: string
              maxLength: 60
        action:
          type: object
          description: "For type=button: buttons (1-3 reply buttons). For type=list: button (menu label, <=20 chars) + sections (1-10)."
          properties:
            buttons:
              type: array
              minItems: 1
              maxItems: 3
              items:
                type: object
                required:
                  - type
                  - reply
                properties:
                  type:
                    type: string
                    enum: [reply]
                  reply:
                    type: object
                    required:
                      - id
                      - title
                    properties:
                      id:
                        type: string
                        maxLength: 256
                      title:
                        type: string
                        maxLength: 20
            button:
              type: string
              maxLength: 20
            sections:
              type: array
              minItems: 1
              maxItems: 10
              items:
                type: object
                properties:
                  title:
                    type: string
                    maxLength: 24
                  rows:
                    type: array
                    maxItems: 10
                    items:
                      type: object
                      required:
                        - id
                        - title
                      properties:
                        id:
                          type: string
                          maxLength: 200
                        title:
                          type: string
                          maxLength: 24
                        description:
                          type: string
                          maxLength: 72

    MediaUploadResponse:
      type: object
      required:
        - media_id
      properties:
        media_id:
          type: string
          description: "Meta media id, valid for 30 days; use as MediaObject.id"

    SendMessageResponse:
      type: object
      required:
        - job_id
        - status
      properties:
        job_id:
          type: string
          example: "01KSTKRFDJ721R8XRE1HAXJT2Y"
        status:
          type: string
          example: "queued"

    Message:
      type: object
      properties:
        id:
          type: string
        tenant_id:
          type: string
        recipient_bsuid:
          type: string
        direction:
          type: string
          enum: [inbound, outbound]
        body:
          type: string
          nullable: true
        meta_message_id:
          type: string
          nullable: true
        job_id:
          type: string
          nullable: true
        display_name:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Tenant:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        waba_id:
          type: string
        phone_number_id:
          type: string
        api_key:
          type: string
        whatsapp_status:
          type: string
          enum: [UNCONNECTED, PENDING_ONBOARDING, ACTIVE, ACTION_REQUIRED]
          default: UNCONNECTED
        messaging_limit:
          type: integer
        quality_rating:
          type: string
        is_paused:
          type: boolean
        webhook_url:
          type: string
        webhook_secret:
          type: string
        created_at:
          type: string
          format: date-time

    SuccessResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        request_id:
          type: string
          example: "req_123"

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "TEMPLATE_NOT_FOUND"
              description: |
                Bhejna application-level error code (distinct from Meta's numeric
                Graph API error codes, which are surfaced via META_API_ERROR
                messages and job failure records). Full catalog with causes:
                docs/error-codes.md. Known values:
                UNAUTHORIZED, TENANT_PAUSED, INTERNAL_ERROR, DATABASE_ERROR,
                META_API_ERROR, INVALID_BODY, INVALID_JSON, INVALID_FIELD_TYPE,
                PAYLOAD_TOO_LARGE, MISSING_RECIPIENT, MISSING_MEDIA,
                MISSING_PAYLOAD_BLOCK, QUOTA_EXCEEDED, TEMPLATE_NOT_FOUND,
                TEMPLATE_NOT_APPROVED, TEMPLATE_PARAM_MISMATCH, TEMPLATE_CONFLICT,
                AUTH_TEMPLATE_REQUIRES_PHONE, INVALID_NAME, INVALID_LANGUAGE,
                INVALID_CATEGORY, INVALID_COMPONENTS, INVALID_ID, INVALID_FILE,
                MISSING_WABA_ID, MISSING_PHONE_NUMBER_ID, SESSION_CLOSED,
                MISSING_TENANT_ID, MISSING_ID, INVALID_TENANT, INVALID_PAYLOAD,
                INVALID_REQUEST
              enum:
                - UNAUTHORIZED
                - TENANT_PAUSED
                - INTERNAL_ERROR
                - DATABASE_ERROR
                - META_API_ERROR
                - INVALID_BODY
                - INVALID_JSON
                - INVALID_FIELD_TYPE
                - PAYLOAD_TOO_LARGE
                - MISSING_RECIPIENT
                - MISSING_MEDIA
                - MISSING_PAYLOAD_BLOCK
                - QUOTA_EXCEEDED
                - TEMPLATE_NOT_FOUND
                - TEMPLATE_NOT_APPROVED
                - TEMPLATE_PARAM_MISMATCH
                - TEMPLATE_CONFLICT
                - AUTH_TEMPLATE_REQUIRES_PHONE
                - INVALID_NAME
                - INVALID_LANGUAGE
                - INVALID_CATEGORY
                - INVALID_COMPONENTS
                - INVALID_ID
                - INVALID_FILE
                - MISSING_WABA_ID
                - MISSING_PHONE_NUMBER_ID
                - SESSION_CLOSED
                - MISSING_TENANT_ID
                - MISSING_ID
                - INVALID_TENANT
                - INVALID_PAYLOAD
                - INVALID_REQUEST
            message:
              type: string
              example: "Recipient phone number invalid"
            retryable:
              type: boolean
              example: false
        request_id:
          type: string
          example: "req_123"

    WebhookPayload:
      type: object
      required:
        - bhejna_event_id
        - event_type
        - channel
        - received_at
      properties:
        bhejna_event_id:
          type: string
          format: uuid
        event_type:
          type: string
          description: "Type of webhook event. Examples: message.received, message.status_updated, template.status_update, template.quality_update, template.category_update"
        channel:
          type: string
        received_at:
          type: string
          format: date-time
        business_phone_number:
          type: string
        sender:
          type: object
          required:
            - whatsapp_identifier
            - bsuid
            - is_phone_masked
            - display_name
          properties:
            whatsapp_identifier:
              type: string
            bsuid:
              type: string
            phone_number:
              type: string
              nullable: true
            is_phone_masked:
              type: boolean
            display_name:
              type: string
        message:
          type: object
          required:
            - meta_message_id
            - type
            - body
          properties:
            meta_message_id:
              type: string
            type:
              type: string
            body:
              type: string
            button_payload:
              type: string
              nullable: true
            reply_to_meta_message_id:
              type: string
              nullable: true
        status_update:
          type: object
          required:
            - meta_message_id
            - status
            - recipient_bsuid
          properties:
            meta_message_id:
              type: string
            status:
              type: string
              enum: [sent, delivered, read, failed]
            recipient_bsuid:
              type: string
            conversation_id:
              type: string
              nullable: true
            pricing_category:
              type: string
              nullable: true
        template_update:
          type: object
          required:
            - message_template_id
            - message_template_name
            - language
            - status
            - category
          properties:
            message_template_id:
              type: string
            message_template_name:
              type: string
            language:
              type: string
            status:
              $ref: '#/components/schemas/TemplateStatus'
            category:
              $ref: '#/components/schemas/TemplateCategory'
            quality_rating:
              type: string
              nullable: true
            rejection_reason:
              type: string
              nullable: true

    TemplateCategory:
      type: string
      enum: [MARKETING, UTILITY, AUTHENTICATION]

    TemplateStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, PAUSED, DISABLED, IN_APPEAL, LIMIT_EXCEEDED, PENDING_DELETION, DELETED]
      description: "Lifecycle state owned by Meta. Bhejna reflects it and never authors it. New templates are PENDING until Meta review completes (minutes, up to 24h)."

    TemplateButton:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum: [QUICK_REPLY, URL, PHONE_NUMBER, OTP]
        text:
          type: string
        otp_type:
          type: string
          enum: [COPY_CODE, ONE_TAP]
          description: "Required when type is OTP (authentication templates)"
        autofill_text:
          type: string
          description: "ONE_TAP only: label for the autofill button"
        package_name:
          type: string
          description: "ONE_TAP only: Android app package name"
        signature_hash:
          type: string
          description: "ONE_TAP only: Android app signing key hash"
        url:
          type: string
          description: "Required when type is URL. May end in a {{1}} placeholder for a dynamic suffix supplied at send time via a button component parameter."
        phone_number:
          type: string
          description: "Required when type is PHONE_NUMBER"
        example:
          type: array
          items:
            type: string
          description: "Meta-required sample value(s) for the dynamic URL suffix when url contains {{1}}"

    TemplateComponent:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [HEADER, BODY, FOOTER, BUTTONS]
        format:
          type: string
          enum: [TEXT]
          description: "v1 TEXT-only, media via Resumable Upload is planned"
        text:
          type: string
        add_security_recommendation:
          type: boolean
          description: "AUTHENTICATION templates, BODY component: appends Meta's security disclaimer"
        code_expiration_minutes:
          type: integer
          description: "AUTHENTICATION templates, FOOTER component: code validity note (1-90)"
        example:
          type: object
          description: "Meta-required sample values for variables, e.g. {\"body_text\":[[\"Jessica\",\"ORD-123\"]]}"
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/TemplateButton'

    CreateTemplateRequest:
      type: object
      required:
        - name
        - language
        - category
        - components
      properties:
        name:
          type: string
          pattern: '^[a-z0-9_]+$'
        language:
          type: string
        category:
          $ref: '#/components/schemas/TemplateCategory'
        allow_category_change:
          type: boolean
          default: true
          description: "let Meta auto-correct category instead of rejecting on mismatch"
        components:
          type: array
          items:
            $ref: '#/components/schemas/TemplateComponent'

    MessageTemplate:
      type: object
      required:
        - id
        - name
        - language
        - category
        - status
        - components
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: "Meta template ID, authoritative"
        name:
          type: string
        language:
          type: string
        category:
          $ref: '#/components/schemas/TemplateCategory'
        status:
          $ref: '#/components/schemas/TemplateStatus'
        quality_rating:
          type: string
          enum: [GREEN, YELLOW, RED, UNKNOWN]
          nullable: true
          description: "Meta-reconciled, null until usage feedback"
        rejection_reason:
          type: string
          nullable: true
          description: "set on REJECTED"
        components:
          type: array
          items:
            $ref: '#/components/schemas/TemplateComponent'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TemplateListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageTemplate'
        paging:
          type: object
          properties:
            cursor:
              type: string
              nullable: true

paths:
  /v1/templates:
    post:
      operationId: createTemplate
      tags:
        - Templates
      summary: Create a message template
      description: Submits a template request to Meta.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
        '400':
          description: Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Template name conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      operationId: listTemplates
      tags:
        - Templates
      summary: List message templates
      description: Returns a list of message templates matching the filter.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/TemplateStatus'
          required: false
      responses:
        '200':
          description: Successfully retrieved template list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/templates/{id}:
    get:
      operationId: getTemplate
      tags:
        - Templates
      summary: Get a template by Meta ID
      description: Returns a single message template from the local mirror.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTemplate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/templates/{name}:
    delete:
      operationId: deleteTemplate
      tags:
        - Templates
      summary: Delete a template by name
      description: Deletes a message template from Meta and local mirror.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        '204':
          description: Template deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Template not found on Meta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/meta/webhook:
    get:
      operationId: GetV1MetaWebhook
      tags:
        - Webhooks
      summary: Meta Webhook Verification
      parameters:
        - in: query
          name: hub.mode
          required: true
          schema:
            type: string
        - in: query
          name: hub.challenge
          required: true
          schema:
            type: string
        - in: query
          name: hub.verify_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Forbidden
    post:
      operationId: PostV1MetaWebhook
      tags:
        - Webhooks
      summary: Meta Webhook Payload Receiver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
      responses:
        '200':
          description: OK

  /v1/internal/webhook-schema:
    post:
      operationId: forceGenerateWebhookType
      description: "Internal shadow endpoint to force generation of WebhookPayload type."
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPayload'

  /v1/messages:
    post:
      operationId: sendMessage
      tags:
        - Messages
      summary: Send a WhatsApp message
      description: Enqueues a message for delivery via WhatsApp.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
          required: false
          description: "Unique key to prevent duplicate message processing"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted and enqueued for asynchronous transmission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: |
            Invalid request. For `type=template` sends, additional error codes may be returned:
            - `TEMPLATE_NOT_FOUND`: no template with this name/language exists in the mirror for this account — create it via `POST /v1/templates` and wait for approval.
            - `TEMPLATE_NOT_APPROVED`: template exists but is not in APPROVED status (e.g. PENDING, REJECTED, PAUSED).
            - `TEMPLATE_PARAM_MISMATCH`: body parameter count in the request does not match the template's stored body component.
            - `AUTH_TEMPLATE_REQUIRES_PHONE`: authentication templates are phone-only per Meta; the BSUID recipient has no known phone number.

            For media sends (`type=image|document|audio|video|sticker`):
            - `MISSING_MEDIA`: the request lacks the media object matching `type`, or it has neither `id` nor `link`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: Quota exceeded

  /v1/media:
    post:
      operationId: uploadMedia
      tags:
        - Messages
      summary: Upload media for later sending
      description: |
        Uploads a media file to Meta (proxied through Bhejna) and returns the media id,
        which stays valid on Meta's side for 30 days. Use it as `MediaObject.id` in
        `POST /v1/messages`. Size limits are Meta's: image/sticker 5MB (webp 500KB), audio/video 16MB, document 100MB.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Media uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadResponse'
        '400':
          description: Invalid or oversized file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/internal/tenant:
    post:
      operationId: syncTenant
      tags:
        - Internal
      summary: Sync or provision a tenant
      description: Internal endpoint to provision or update tenant configuration.
      security:
        - InternalAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Tenant'
                - type: object
                  required:
                    - record
                  properties:
                    record:
                      $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Tenant synced successfully

  /v1/internal/tenants/{id}/pause:
    put:
      operationId: pauseTenant
      tags:
        - Internal
      summary: Pause a tenant
      description: Manually pause message delivery for a tenant.
      security:
        - InternalAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Tenant paused successfully

  /v1/internal/conversations:
    get:
      operationId: listConversations
      tags:
        - Internal
      summary: List active conversations
      description: Returns the most recent message per active conversation for a tenant.
      security:
        - InternalAuth: []
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: List of active conversations with last message preview
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'

  /v1/internal/conversations/{recipient_bsuid}:
    get:
      operationId: getConversationThread
      tags:
        - Internal
      summary: Get conversation thread
      description: Returns full message history and session-open state for one recipient.
      security:
        - InternalAuth: []
      parameters:
        - name: recipient_bsuid
          in: path
          required: true
          schema:
            type: string
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Full message thread
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  session_active:
                    type: boolean
                  display_name:
                    type: string
                    nullable: true

  /v1/internal/conversations/{recipient_bsuid}/reply:
    post:
      operationId: replyToConversation
      tags:
        - Internal
      summary: Reply within an open conversation
      description: Enqueues a free-text reply if the 24h session window is open.
      security:
        - InternalAuth: []
      parameters:
        - name: recipient_bsuid
          in: path
          required: true
          schema:
            type: string
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
      responses:
        '202':
          description: Reply enqueued
        '409':
          description: Session window closed, template required instead

