openapi: 3.1.0
info:
  title: Bhejna API
  description: |
    Bhejna is a high-performance WhatsApp messaging proxy and delivery engine. 
    It provides a contract-first API for sending messages, tracking delivery status, and receiving inbound messages via webhooks.
  version: 1.0.0
  contact:
    name: CodeNxt Lab
    url: https://codenxtlab.tech

servers:
  - url: https://bhejna-api.codenxtlab.tech
    description: Production Server

tags:
  - name: Messages
    description: WhatsApp message delivery operations
  - name: Internal
    description: System administration and sync operations
  - name: Webhooks
    description: Inbound delivery status and message updates

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    InternalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    MessageType:
      type: string
      enum: [text, template, image, document, audio, video, sticker, location, contacts, interactive]
      description: Allowed WhatsApp message types

    SendMessageRequest:
      type: object
      required:
        - to
        - from_business_phone
        - idempotency_key
        - type
      properties:
        to:
          type: string
        from_business_phone:
          type: string
        idempotency_key:
          type: string
        type:
          type: string
          enum: [text, template]
        text:
          type: object
          required:
            - body
          properties:
            body:
              type: string
        template:
          type: object
          required:
            - template_code
            - language
          properties:
            template_code:
              type: string
            language:
              type: string
            components:
              type: array
              items:
                type: object
                required:
                  - type
                properties:
                  type:
                    type: string
                    enum: [header, body, button]
                  parameters:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum: [text, currency, date_time, image, document, video]
                        text:
                          type: string
                        image:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string
                        document:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string
                        video:
                          type: object
                          required:
                            - link
                          properties:
                            link:
                              type: string

    SendMessageResponse:
      type: object
      required:
        - job_id
        - status
      properties:
        job_id:
          type: string
          example: "01KSTKRFDJ721R8XRE1HAXJT2Y"
        status:
          type: string
          example: "queued"

    Tenant:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        waba_id:
          type: string
        phone_number_id:
          type: string
        api_key:
          type: string
        whatsapp_status:
          type: string
          enum: [UNCONNECTED, PENDING_ONBOARDING, ACTIVE, ACTION_REQUIRED]
          default: UNCONNECTED
        messaging_limit:
          type: integer
        quality_rating:
          type: string
        is_paused:
          type: boolean
        webhook_url:
          type: string
        webhook_secret:
          type: string
        created_at:
          type: string
          format: date-time

    SuccessResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        request_id:
          type: string
          example: "req_123"

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "INVALID_PHONE"
            message:
              type: string
              example: "Recipient phone number invalid"
            retryable:
              type: boolean
              example: false
        request_id:
          type: string
          example: "req_123"

    WebhookPayload:
      type: object
      required:
        - bhejna_event_id
        - event_type
        - channel
        - received_at
        - business_phone_number
      properties:
        bhejna_event_id:
          type: string
          format: uuid
        event_type:
          type: string
        channel:
          type: string
        received_at:
          type: string
          format: date-time
        business_phone_number:
          type: string
        sender:
          type: object
          required:
            - whatsapp_identifier
            - bsuid
            - is_phone_masked
            - display_name
          properties:
            whatsapp_identifier:
              type: string
            bsuid:
              type: string
            phone_number:
              type: string
              nullable: true
            is_phone_masked:
              type: boolean
            display_name:
              type: string
        message:
          type: object
          required:
            - meta_message_id
            - type
            - body
          properties:
            meta_message_id:
              type: string
            type:
              type: string
            body:
              type: string
            button_payload:
              type: string
              nullable: true
            reply_to_meta_message_id:
              type: string
              nullable: true
        status_update:
          type: object
          required:
            - meta_message_id
            - status
            - recipient_bsuid
          properties:
            meta_message_id:
              type: string
            status:
              type: string
              enum: [sent, delivered, read, failed]
            recipient_bsuid:
              type: string
            conversation_id:
              type: string
              nullable: true
            pricing_category:
              type: string
              nullable: true

paths:
  /v1/meta/webhook:
    get:
      operationId: GetV1MetaWebhook
      tags:
        - Webhooks
      summary: Meta Webhook Verification
      parameters:
        - in: query
          name: hub.mode
          required: true
          schema:
            type: string
        - in: query
          name: hub.challenge
          required: true
          schema:
            type: string
        - in: query
          name: hub.verify_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Forbidden
    post:
      operationId: PostV1MetaWebhook
      tags:
        - Webhooks
      summary: Meta Webhook Payload Receiver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
      responses:
        '200':
          description: OK

  /v1/internal/webhook-schema:
    post:
      operationId: forceGenerateWebhookType
      description: "Internal shadow endpoint to force generation of WebhookPayload type."
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPayload'

  /v1/messages:
    post:
      operationId: sendMessage
      tags:
        - Messages
      summary: Send a WhatsApp message
      description: Enqueues a message for delivery via WhatsApp.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
          required: false
          description: "Unique key to prevent duplicate message processing"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted and enqueued for asynchronous transmission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: Quota exceeded

  /v1/internal/tenant:
    post:
      operationId: syncTenant
      tags:
        - Internal
      summary: Sync or provision a tenant
      description: Internal endpoint to provision or update tenant configuration.
      security:
        - InternalAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Tenant'
                - type: object
                  required:
                    - record
                  properties:
                    record:
                      $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Tenant synced successfully

  /v1/internal/tenants/{id}/pause:
    put:
      operationId: pauseTenant
      tags:
        - Internal
      summary: Pause a tenant
      description: Manually pause message delivery for a tenant.
      security:
        - InternalAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Tenant paused successfully

